<p id="notice"><%= notice %></p>

<h1>Listing Trucks</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Model</th>
    <th>Driver</th>
    <th>Max weight</th>
    <th>Max volume</th>
  </tr>
  </thead>

  <tbody>
  <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.model %></td>
        <td><%= link_to truck.driver.name, driver_path(truck.driver) %></td>
        <td><%= truck.max_weight %></td>
        <td><%= truck.max_volume %></td>
      </tr>
  <% end %>
  </tbody>
</table>
