<h1>Listing Clients</h1>
<%= link_to 'New client', new_client_path, class: 'btn btn-default' %>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th colspan="2"></th>
  </tr>

  <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.address %>, <%= client.city %>, <%= client.state %> <%= client.zip %></td>
        <td><%= client.phone_number %> x<%= client.phone_ext %></td>
        <td><%= link_to 'Show', client_path(client) %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
      </tr>
  <% end %>
</table>
