<p id="notice"><%= notice %></p>

<h1>Listing Loads</h1>

<%= link_to 'New Daily Schedule', new_daily_schedule_path, class: 'btn btn-default' %>
<br><br>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Delivery date</th>
    <th>Delivery shift</th>
    <th>Driver</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @loads.each do |load| %>
      <tr>
        <td><%= load.daily_schedule.delivery_date %></td>
        <td><%= load.delivery_shift %></td>
        <td><%= link_to load.driver.name, driver_path(load.driver) %></td>
        <td><%= link_to 'Edit', edit_load_path(load) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
