<% if @order.invalid? %>
    <div class="alert alert-danger" role="alert">
      <%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved
    </div>
<% end %>

<%= bootstrap_form_for(@order, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f| %>
    <% @order_fields.each do |field| %>
        <%= f.text_field field %>
    <% end %>

    <%= f.submit %>
    <%= link_to 'Show', order_path(@order), class: 'btn btn-default' %>
    <%= link_to 'Back', orders_path, class: 'btn btn-primary' %>
<% end %>
