<p id="notice"><%= notice %></p>

<% if @raw_order.invalid? %>
    <div class="alert alert-danger" role="alert">
      <%= pluralize(@raw_order.errors.count, "error") %> prohibited this order from being imported
    </div>
<% end %>

<%= bootstrap_form_for(@raw_order, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f| %>
    <% @raw_order_fields.each do |field| %>
        <%= f.static_control field %>
    <% end %>
    <%= link_to 'Edit', edit_raw_order_path(@raw_order), class: 'btn btn-default' %>
    <%= link_to 'Back', csv_import_path(@csv_import), class: 'btn btn-primary' %>
<% end %>
