<h1>CSV import</h1>
<% if @notice %>
    <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<p>
  <%= link_to 'Back', csv_imports_path, class: 'btn btn-primary' %>
  <%= link_to 'Run', run_csv_import_path(@csv_import), class: 'btn btn-default', method: :post %>
  <%= link_to 'Download source file', @csv_import.csv_url %>
</p>

<%= bootstrap_form_for(@csv_import, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f| %>
    <%= f.static_control :csv_identifier, label: 'File' %>
    <%= f.static_control :created_at %>
<% end %>

<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>N</th>
    <th>Delivery date</th>
    <th>Delivery shift</th>
    <th>Origin name</th>
    <th>Origin raw line 1</th>
    <th>Origin city</th>
    <th>Origin state</th>
    <th>Origin ZIP</th>
    <th>Origin Country</th>
    <th>Client name</th>
    <th>Destination raw line 1</th>
    <th>Destination city</th>
    <th>Destination state</th>
    <th>Destination ZIP</th>
    <th>Destination country</th>
    <th>Phone number</th>
    <th>Mode</th>
    <th>Purchase order number</th>
    <th>Volume</th>
    <th>Unit quantity</th>
    <th>Unit type</th>
  </tr>
  </thead>

  <tbody>
  <% @raw_orders.each do |raw_order| %>
      <tr>
        <td class="<%= 'danger' if raw_order.invalid? %>"><%= raw_order.row_num %></td>
        <td class="<%= 'danger' if raw_order.errors[:delivery_date].any? %>"><%= raw_order.delivery_date %></td>
        <td class="<%= 'danger' if raw_order.errors[:delivery_shift].any? %>"><%= raw_order.delivery_shift %></td>
        <td class="<%= 'danger' if raw_order.errors[:origin_name].any? %>"><%= raw_order.origin_name %></td>
        <td class="<%= 'danger' if raw_order.errors[:origin_raw_line_1].any? %>"><%= raw_order.origin_raw_line_1 %></td>
        <td class="<%= 'danger' if raw_order.errors[:origin_city].any? %>"><%= raw_order.origin_city %></td>
        <td class="<%= 'danger' if raw_order.errors[:origin_state].any? %>"><%= raw_order.origin_state %></td>
        <td class="<%= 'danger' if raw_order.errors[:origin_zip].any? %>"><%= raw_order.origin_zip %></td>
        <td class="<%= 'danger' if raw_order.errors[:origin_country].any? %>"><%= raw_order.origin_country %></td>
        <td class="<%= 'danger' if raw_order.errors[:client_name].any? %>"><%= raw_order.client_name %></td>
        <td class="<%= 'danger' if raw_order.errors[:destination_raw_line_1].any? %>"><%= raw_order.destination_raw_line_1 %></td>
        <td class="<%= 'danger' if raw_order.errors[:destination_city].any? %>"><%= raw_order.destination_city %></td>
        <td class="<%= 'danger' if raw_order.errors[:destination_state].any? %>"><%= raw_order.destination_state %></td>
        <td class="<%= 'danger' if raw_order.errors[:destination_zip].any? %>"><%= raw_order.destination_zip %></td>
        <td class="<%= 'danger' if raw_order.errors[:destination_country].any? %>"><%= raw_order.destination_country %></td>
        <td class="<%= 'danger' if raw_order.errors[:phone_number].any? %>"><%= raw_order.phone_number %></td>
        <td class="<%= 'danger' if raw_order.errors[:mode].any? %>"><%= raw_order.mode %></td>
        <td class="<%= 'danger' if raw_order.errors[:purchase_order_number].any? %>"><%= raw_order.purchase_order_number %></td>
        <td class="<%= 'danger' if raw_order.errors[:volume].any? %>"><%= raw_order.volume %></td>
        <td class="<%= 'danger' if raw_order.errors[:handling_unit_quantity].any? %>"><%= raw_order.handling_unit_quantity %></td>
        <td class="<%= 'danger' if raw_order.errors[:handling_unit_type].any? %>"><%= raw_order.handling_unit_type %></td>
      </tr>
  <% end %>
  </tbody>
</table>

